@page
@model BulkyWebRazor_Temp.Pages.Categories.IndexModel

<div class="container">
    <div>
        <div>
            <h2>
                Category List
            </h2>
        </div>
        <div>
            <a asp-page="/categories/create" class="btn btn-primary">
                <i class="bg-info bi-plus-circle"></i>Create New Category
            </a>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.CategoryList)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>